.videor {
    color: $white;
    background-color: $grey;
    padding-top: rem(50px);
    padding-bottom: rem(50px);
    // @include phones {
    //     display: none;
    // }
}

.video {
    margin-left: auto;
    margin-right: auto;
    margin-top: rem(30px);
    position: relative;
    // border: 1px solid #ffffff;
    max-width: rem(640px);
    max-height: rem(360px);
    width: 100%;
    // margin-top: rem(20px);
    @include tablets {
        width: 95vw;
        height: auto;
    }
    &__play-pause {
        width: rem(150px);
        height: rem(150px);
        position: absolute;
        top: 40%;
        left: 45%;
        transform: translate(-40%, -45%) rotate(0deg);
        fill: $white;
        opacity: 0;
        cursor: pointer;
        &:hover {
            // opacity: 1;
        }
    }
    &__img {
        width: rem(150px);
        height: rem(180px); // border: 1px solid #000000;
    }
}

.control {
    height: rem(50px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3e3e3e;
    display: flex;
    &__img {
        width: rem(50px);
        height: rem(50px);
        fill: #ccc;
        cursor: pointer; // border: 1px solid #000000;
        &:hover {
            fill: $white;
        }
    }
    &__video-icon {
        width: 50px; // border: 1px solid #000000;
    }
    &__time {
        flex: 4;
        margin-top: rem(15px);
        margin-bottom: rem(15px); // border: 1px solid #000000;
        &-range {
            width: 100%;
        }
    }
    &__sound-icon {
        width: rem(50px) // border: 1px solid #000000;
    }
    &__sound {
        flex: 1;
        margin-top: rem(15px);
        margin-bottom: rem(15px);
        margin-right: rem(5px); // border: 1px solid #000000;
    }
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: rem(20px);
    width: rem(20px);
    border-radius: rem(10px);
    background-color: #ccc;
    cursor: pointer;
    border: none;
    margin-top: rem(-1px);
    &:hover {
        background-color: $white;
    }
}

input[type=range] {
    -webkit-appearance: none;
    outline: 0;
    margin: 0;
    padding: 0;
    height: rem(5px);
    width: 100%;
    background-color: #ccc;
}