
.container--footer {
    padding-top: 6.25rem;
    min-height: 300px;
    font-size: 1.3rem;
  }

  .address__title {
    text-align: center;
  }

  .address__text {
    text-align: center;
  }

  .address {
    width: 100%;
  }

  .signature {
    margin-top: 0.9375rem;
    order: 5;
    width: 100%;
    text-align: center;
  }

  .tr-footer {
    display: block;
  }